<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 계속 xml 쪽에 ; 넣는데 절대로 넣지 마라!! -->
<mapper namespace="com.example.app.mapper.BoardMapper">
    <select id="select" resultType="boardVO">
        SELECT BOARD_ID, BOARD_TITLE, BOARD_WRITER, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE
        FROM JUNGMIN_BOARD
        WHERE BOARD_ID = #{boardId}
    </select>

    <select id="selectAll" resultType="boardVO">
        SELECT * FROM
        (
            SELECT ROWNUM R, BOARD_ID, BOARD_TITLE, BOARD_WRITER, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE
            FROM
            (
                SELECT BOARD_ID, BOARD_TITLE, BOARD_WRITER, BOARD_CONTENT, BOARD_REGISTER_DATE, BOARD_UPDATE_DATE
                FROM JUNGMIN_BOARD
                ORDER BY BOARD_ID DESC
            ) B
            <![CDATA[WHERE ROWNUM <= #{page} * #{amount}]]>
        )
        <![CDATA[WHERE R > (#{page} - 1) * #{amount}]]>
    </select>

    <insert id="insert">
        <selectKey keyProperty="boardId" order="BEFORE" resultType="Long">
            SELECT SEQ_BOARD.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO JUNGMIN_BOARD
        (BOARD_ID, BOARD_TITLE, BOARD_WRITER, BOARD_CONTENT)
        VALUES(#{boardId}, #{boardTitle}, #{boardWriter}, #{boardContent})
    </insert>

    <delete id="delete">
        DELETE FROM JUNGMIN_BOARD
        WHERE BOARD_ID = #{boardId}
    </delete>

    <update id="update">
        UPDATE JUNGMIN_BOARD
        SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}, BOARD_UPDATE_DATE = SYSDATE
        WHERE BOARD_ID = #{boardId}
    </update>
</mapper>